
<!--<p>body: <%#= history.id %></p>-->
<!--<p>body: <%#= history.title %></p>-->
<!--<p>body: <%#= history.body %></p>-->
<!--<p>source: <%#= history.source %></p>-->
<!--<hr>-->
<%# if history.id.even? %>
<%# if history.id.odd? %>
<div class="container">
  <div class="row">
    <div class="col-md-4 ">
      <div class="message">
        <h2 class="message-title"><%= history.title %></h2>
        <%= link_to "View Message", history, class: "btn-custom" %>
      </div>
    </div>
  </div>
</div>
