<h1>index-history</h1>

<% @histories.each do |cmt| %>
  <%= render 'histories/history', history: cmt %>
<%end %>



<%#  @histories.each do |h| %>
<!--      <div class="col-md-4">-->
<!--        <div class="message">-->
<!--          <h2 class="message-title"><%#= h.title %></h2>-->
          <%#= link_to "View Message", h, class: "btn-custom" %>
<!--        </div>-->
<!--      </div>-->

<%# end %>
