// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img-show{
  float: left;
}

#tag_cloud{
  width: 400px;
  line-height: 1.6em;
  .s{font-size: 0.8em}
  .w{font-size: 1.2em}
  .l{font-size: 1.8em}
}


.identification{
  height: 500px;
}
.indentification_content{
  background-color: #fff;
  margin-left: 35%;
  width: 331px;
  border-radius: 10px;
}
.indentification_content h4{
  margin-left: 120px;
}

.editor{
  min-height: 300px;
}